@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw; /*100vw --> 1000px*/
    height: 100vh; /*1vh --> 10px*/
    background: #2135A6;
    display: flex;
    justify-content: center; /*aligh-items: eixo y, justify-content: eixo x*/
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left-login > h1{
    color:rgb(250, 251, 251);
    font-size: 2.5vw;
}

.left-login-image{
    width: 28vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #e2e2e2;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #37373756;
}

.card-login > h1{
    color: #0b0c0c;
    font-weight: 800;
    margin: 0;
    padding: 30px;
    font-size: 40px;
}


.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*esquerda*/
    justify-content: center;
    margin: 10px 0px; /*1º eixo x, 2º eixo y*/
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #00e1e1de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #37373756;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color:#111213;
    margin-bottom: 10px;

}

.textfield > input::placeholder{
    color: #bdbcbc;

}

.btn-login{
    width: 100%;
    padding: 17px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#ffeee7;
    background-color: #F3541C; 
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #007dfa;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape a {
    text-decoration: none;
    color: #F3541C;

  }

@media only screen and (max-width: 950px) {
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}

